// media queries for screen size > 1024px
@media only screen and (min-width: 1024px) {
  // header section
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 0;
    width: 100%;

    &.container {
      height: 5.5em;
    }

    #show {
      display: block;
    }

    .desktop-only {
      display: block;
    }

    nav {
      width: 37%;
      #hamburger1,
      #hamburger2 {
        display: none;
      }
      .navbar-links {
        ul {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          margin: 0;
          padding: 0;

          li {
            padding: 5% 1%;
            margin: 0 2%;
            border-bottom: 10px solid transparent;
            transition: border-bottom 0.3 ease-in-out;

            &:hover {
              border-bottom: 10px solid $lime_green;
            }
            a {
              font-size: 1.05em;
              color: $dark_blue;
            }
          }
        }
      }
    }
  }

  // Hero image section
  .hero {
    background: $very_light_gray;
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    height: 43vw;
    background-position: 210% 65%;
    background-size: 80% 165%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .hero_img {
    width: 48%;
    height: 50vw;
    position: absolute;
    right: 0;
    top: 5.5em;
    background-color: transparent;
    background-image: url("../images/image-mockups.png");
    background-position: 1.35vw -6vw;
    background-size: 56vw 57vw;
  }
  .hero_text {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 0;
    height: 15vw;

    h1 {
      font-size: 2.3vw;
      line-height: 1.15;
      font-weight: 300;
      text-align: left;
      margin: 0%;
    }

    p {
      @include p-style-2;
      text-align: left;
      line-height: 1.4;
      padding: 2% 0;
      font-weight: 300;
      letter-spacing: 0.4px;
      margin: 0.5% 0 2%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  // Features Section
  .features {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $light_grayish_blue;
    padding: 5% 0;
  }

  .intro {
    margin-bottom: 1vw;
    width: 45%;

    h2 {
      @include h2-style-2;
    }

    p {
      @include p-style-2;
      text-align: left;
      line-height: 1.4;
      font-weight: 300;
    }
  }

  .features_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .feature {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      margin: 2vw 0;

      img {
        width: 4.2em;
        height: 4.2em;
      }

      h3 {
        margin-top: 1.4em;
        font-size: 1.25vw;
        font-weight: 300;
        color: $dark_blue;
      }

      p {
        @include p-style-3;
        width: 90%;
        font-weight: 300;
        line-height: 1.3;
        margin-top: 0.3em;
      }
    }
  }
}
